body {
    direction: rtl;
    box-sizing: border-box;
    font-size: 13px;
    background-color: #D9D9D9;
    margin: 0;
}

.Alltickets {
    width: 100%;
    background-color: white;
}

.getPdf {
    padding: 3px 5px;
    border-radius: 20px;
    background-color: lightcoral;
    cursor: pointer;
    display: inline-block;
}

.ticket {
    border: 1px solid black;
    width: 750px;
    margin: auto;

}

.topBox {
    display: flex;
}


.nameE {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.topBox {
    border-bottom: 1px solid black;
    padding: 3px;
}

.header {
    width: 100%;
    justify-content: space-between;
}

.header__name {
    width: 62.5%;
    border-bottom: 1px solid black;
    padding-left: 20px;
    align-items: center;
    padding: 3px;
    box-sizing: border-box;
}

.header>p {
    border-bottom: 1px solid black;
    width: 36%;
    text-align: left;
    padding: 16px 0;
    margin: 0;
    padding: 3px;
    box-sizing: border-box;
}

.flightInfo {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.flightInfo__body {
    border-left: 1px solid black;
    padding-left: 10px;
    box-sizing: content-box;
}

.ticketInfo__body {
    padding: 40px 20px 0 10px;
}

p {
    margin: 7px 0;
}

.ticketInfo {
    flex: 0.7;
}

.ticketInfo__header {
    margin-right: 10px;
}

.flightInfo__header p,
.ticketInfo__header p {
    border-bottom: 1px solid black;
    margin: 0;
}

.flightInfo__header,
.ticketInfo__header {
    gap: 10px;
    margin-left: 10px;
    margin-top: 15px;
}

.flightInfo__header__right {
    width: 30%;
}

.ticketInfo__header__right {
    width: 50%;
}

.flightInfo__header__left {
    width: 70%;
}

.ticketInfo__header__left {
    width: 45%;
}

.bold {
    font-weight: bold;
}

.devider,
.deviderLeft {
    height: 1px;
    width: 100px;
    background-color: black;
    margin: auto;
}

.deviderLeft {
    width: 190px;
    margin-top: 30px;
    margin-bottom: 5px;
}

.logos {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
}

.logos img {
    width: 130px;
    height: auto;
    max-height: 70px;
    margin: 10px 0;
}


.barcodePack {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
}

.bottomBox {
    justify-content: space-between;
    padding-bottom: 30px;
}

.bottomBox-Box {
    border: 1px solid black;
    width: 100%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-right: none;
    gap: 10px;
    margin-right: -3px;
}

.bottomBox-Box p {
    margin: 0;
}

.bottomBox__top__right {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-top: 20px;
    padding-right: 3px;
}

.bottomBox__top__left {
    width: 30%;
    margin-top: 20px;
}

.bottomBox__top__left div {
    padding: 0 3px;
}

.totalPrice {
    padding: 30px 0;
    border-top: 1px solid black;
    margin-top: 10px;
}

.bottomBox__bottom {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 50px 3px 0 10px;
}


.images {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.images img {
    width: 70%;
}

.images__image {
    width: 16%;
    background-color: white;
    aspect-ratio: 1/1;
    border-radius: 40px;
    box-shadow: 0 5px 7px gray;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1%;
    box-sizing: border-box;
    cursor: pointer;
    transition: 300ms;
}

.images__image:hover {
    transform: scale(1.05);
    transition: 300ms;
}

.airlineTitle {
    text-align: center;
    margin-top: 8%;
    margin-bottom: 25px;
}

.countInput {
    padding: 20px;
    border: none;
    box-shadow: inset 0 1px 5px gray;
    border-radius: 20px;
    font-size: 20px;
    width: 100px;

}


.countInput:focus-visible {
    border: none;
    outline: none;
}

.blitCount {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: auto;
    margin-top: 7%;
}

.blitCount h1 {
    margin: 0;
}


#active {
    transform: scale(1.1);
    border: 2px solid black;
}

.submit {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}

.submit p {
    padding: 10px 30px;
    background-color: lightseagreen;
    border-radius: 15px;
    box-shadow: 0 5px 7px gray;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    transition: 300ms;

}

.submit p:hover {
    transform: scale(1.05);
    transition: 300ms;
}

.notActiveSubmit {
    pointer-events: none;
    opacity: 0.5;
}

.activeSubmit {
    pointer-events: all;
    opacity: 1;
}

@media print {
    .page-break {
        page-break-before: always;
    }
}